# SQL y Pandas

Pandas puede interactuar con diferentes tipos de bases de datos a través de conectores. Estos pueden ser utilizados directamente (conectores nativos) o a través de SQLAlchemy.

Ejemplo de uso de SQLite

In [2]:
import sqlite3
db = sqlite3.connect("flights.db")

In [3]:
import pandas as pd
import numpy as np

airports = pd.read_sql('select * from airports;', con = db).replace('\\N', np.nan)
airlines = pd.read_sql('select * from airlines;', con = db).replace('\\N', np.nan)
routes = pd.read_sql('select * from routes;', con = db).replace('\\N', np.nan)

In [4]:
airports.info()
airlines.info()
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8107 entries, 0 to 8106
Data columns (total 13 columns):
index        8107 non-null int64
id           8107 non-null object
name         8107 non-null object
city         8107 non-null object
country      8107 non-null object
code         5880 non-null object
icao         6785 non-null object
latitude     8107 non-null object
longitude    8107 non-null object
altitude     8107 non-null object
offset       8107 non-null object
dst          8107 non-null object
timezone     8015 non-null object
dtypes: int64(1), object(12)
memory usage: 823.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6048 entries, 0 to 6047
Data columns (total 9 columns):
index       6048 non-null int64
id          6048 non-null object
name        6048 non-null object
alias       138 non-null object
iata        1460 non-null object
icao        5796 non-null object
callsign    5302 non-null object
country     6030 non-null object
active      6048 non-null object
dtypes: int64(1), object(8)
memory usage: 425.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 10 columns):
index         67663 non-null int64
airline       67663 non-null object
airline_id    66985 non-null object
source        67663 non-null object
source_id     67424 non-null object
dest          67663 non-null object
dest_id       67421 non-null object
codeshare     14597 non-null object
stops         67663 non-null object
equipment     67645 non-null object
dtypes: int64(1), object(9)
memory usage: 5.2+ MB

**SELECT**

In [6]:
# SQL select * from airports where country = 'Spain' and type = 'Madrid'

airports[(airports.country == 'Spain') & (airports.city == 'Madrid')]

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
1201,1201,1224,Getafe,Madrid,Spain,None,LEGT,40.294139,-3.723833,2029,1,E,Europe/Madrid
1206,1206,1229,Barajas,Madrid,Spain,MAD,LEMD,40.493556,-3.566764,2000,1,E,Europe/Madrid
1222,1222,1245,Torrejon,Madrid,Spain,TOJ,LETO,40.496747,-3.445872,2026,1,E,Europe/Madrid
1225,1225,1248,Cuatro Vientos,Madrid,Spain,None,LEVS,40.370678,-3.785144,2267,1,E,Europe/Madrid
8052,8052,9487,Atocha,Madrid,Spain,None,MDAT,40.4075,-3.691667,2188,1,E,Europe/Madrid
8059,8059,9494,Chamartin Station,Madrid,Spain,None,MADC,40.472272,-3.68215,2188,1,E,Europe/Madrid

In [7]:
# SQL select name from airports where country = 'Spain' and type = 'Madrid'

airports[(airports.country == 'Spain') & (airports.city == 'Madrid')]['name']

1201               Getafe
1206              Barajas
1222             Torrejon
1225       Cuatro Vientos
8052               Atocha
8059    Chamartin Station
Name: name, dtype: object

**ORDER_BY**

In [8]:
#SQL select * from airports where country = 'Spain' order by city

airports[airports.country == 'Spain'].sort_values('city')[:10]

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
1189,1189,1211,Albacete,Albacete,Spain,None,LEAB,38.948528,-1.863517,2302,1,E,Europe/Madrid
6832,6832,8261,Algeciras Heliport,Algeciras,Spain,None,NaN,36.128889,-5.441111,98,1,E,Europe/Madrid
6833,6833,8262,Algeciras Heliport,Algeciras,Spain,None,NaN,36.128889,-5.441111,98,1,E,Europe/Madrid
8099,8099,9534,Algerciras Port,Algerciras,Spain,None,NaN,36.136,-5.435,0,1,E,Europe/Madrid
1190,1190,1212,Alicante,Alicante,Spain,ALC,LEAL,38.282169,-0.558156,142,1,E,Europe/Madrid
1191,1191,1213,Almeria,Almeria,Spain,LEI,LEAM,36.843936,-2.370097,70,1,E,Europe/Madrid
6316,6316,7742,Lanzarote Arrecife Cruise Terminal,Arrecife Lanzarote,Spain,None,NaN,28.967298,-13.527528,0,0,E,Atlantic/Canary
1192,1192,1214,Asturias,Aviles,Spain,OVD,LEAS,43.563567,-6.034622,416,1,E,Europe/Madrid
1196,1196,1219,Talavera La Real,Badajoz,Spain,BJZ,LEBZ,38.89125,-6.821333,609,1,E,Europe/Madrid
8061,8061,9496,Aeroport,Barcelona,Spain,None,ARPT,41.288436,2.072409,39,1,E,Europe/Madrid

In [9]:
#SQL select * from airports where country = 'Spain' order by city type desc

airports[airports.country == 'Spain'].sort_values('city', ascending=False)[:20]

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
1229,1229,1252,Zaragoza Ab,Zaragoza,Spain,ZAZ,LEZG,41.666242,-1.041553,863,1,E,Europe/Madrid
1226,1226,1249,Vitoria,Vitoria,Spain,VIT,LEVT,42.882836,-2.724469,1682,1,E,Europe/Madrid
1227,1227,1250,Vigo,Vigo,Spain,VGO,LEVX,42.2318,-8.626775,855,1,E,Europe/Madrid
6321,6321,7747,Vigo Cruise Terminal,Vigo,Spain,None,NaN,42.241537,-8.728799,0,1,E,Europe/Madrid
1224,1224,1247,Valladolid,Valladolid,Spain,VLL,LEVD,41.706111,-4.851944,2775,1,E,Europe/Madrid
1223,1223,1246,Valencia,Valencia,Spain,VLC,LEVC,39.489314,-0.481625,225,1,E,Europe/Madrid
8058,8058,9493,Toledo Railway Station,Toledo,Spain,None,TLDO,39.862363,-4.011083,1736,1,E,Europe/Madrid
1038,1038,1056,Tenerife Sur,Tenerife,Spain,TFS,GCTS,28.044475,-16.572489,209,0,E,Atlantic/Canary
1039,1039,1057,Tenerife Norte,Tenerife,Spain,TFN,GCXO,28.482653,-16.341536,2073,0,E,Atlantic/Canary
6540,6540,7967,Tarifa,Tarifa,Spain,None,NaN,36.070781,-5.602764,20,1,E,Europe/Madrid
1216,1216,1239,Son Bonet,Son Bonet,Spain,None,LESB,39.598889,2.702778,135,1,E,Europe/Madrid
1230,1230,1253,Sevilla,Sevilla,Spain,SVQ,LEZL,37.418,-5.893106,111,1,E,Europe/Madrid
1209,1209,1232,Moron Ab,Sevilla,Spain,OZP,LEMO,37.174917,-5.615944,285,1,E,Europe/Madrid
8049,8049,9484,Santa Justa,Sevilla,Spain,None,SVSJ,37.392051,-5.975135,23,1,E,Europe/Madrid
1221,1221,1244,Seo De Urgel,Seo De Urgel,Spain,LEU,LESU,42.338611,1.409167,2625,1,E,Europe/Madrid
7258,7258,8690,Fuentemilanos Airport,Segovia,Spain,None,LEFM,40.889233,-4.239478,3284,1,E,Europe/Madrid
1220,1220,1243,Santiago,Santiago,Spain,SCQ,LEST,42.896333,-8.415144,1213,1,E,Europe/Madrid
1228,1228,1251,Santander,Santander,Spain,SDR,LEXJ,43.427064,-3.820006,16,1,E,Europe/Madrid
6317,6317,7743,Tenerife Cruise Terminal,Santa Cruz de Tenerife,Spain,None,NaN,28.470068,-16.242471,0,0,E,Atlantic/Canary
1035,1035,1053,La Palma,Santa Cruz De La Palma,Spain,SPC,GCLA,28.626478,-17.755611,107,0,E,Atlantic/Canary

**IN o NOT IN**

In [10]:
#SQL select * from airports where city in ('Santander', 'Tenerife')

airports[airports.city.isin(['Santander', 'Tenerife'])]

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
1038,1038,1056,Tenerife Sur,Tenerife,Spain,TFS,GCTS,28.044475,-16.572489,209,0,E,Atlantic/Canary
1039,1039,1057,Tenerife Norte,Tenerife,Spain,TFN,GCXO,28.482653,-16.341536,2073,0,E,Atlantic/Canary
1228,1228,1251,Santander,Santander,Spain,SDR,LEXJ,43.427064,-3.820006,16,1,E,Europe/Madrid

In [11]:
#SQL select * from airports where city not in ('Santander', 'Tenerife')

airports[~airports.city.isin(['Santander', 'Tenerife'])]

,index,id,name,city,country,code,icao,latitude,longitude,altitude,offset,dst,timezone
0,0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10,U,Pacific/Port_Moresby
1,1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.7887,20,10,U,Pacific/Port_Moresby
2,2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10,U,Pacific/Port_Moresby
3,3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10,U,Pacific/Port_Moresby
4,4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.22005,146,10,U,Pacific/Port_Moresby
5,5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10,U,Pacific/Port_Moresby
6,6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3,E,America/Godthab
7,7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3,E,America/Godthab
8,8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3,E,America/Godthab
9,9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4,E,America/Thule
10,10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0,N,Atlantic/Reykjavik
11,11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0,N,Atlantic/Reykjavik
12,12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0,N,Atlantic/Reykjavik
13,13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0,N,Atlantic/Reykjavik
14,14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0,N,Atlantic/Reykjavik
15,15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985,-22.605556,171,0,N,Atlantic/Reykjavik
16,16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965,11,0,N,Atlantic/Reykjavik
17,17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.13,-21.940556,48,0,N,Atlantic/Reykjavik
18,18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0,N,Atlantic/Reykjavik
19,19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0,N,Atlantic/Reykjavik
20,20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5,A,America/Toronto
21,21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.0325,760,-6,A,America/Winnipeg
22,22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4,A,America/Halifax
23,23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.7725,80,-8,A,America/Vancouver
25,25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7,A,America/Edmonton
26,26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.1325,-68.204444,71,-5,A,America/Toronto
27,27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5,A,America/Toronto
28,28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6,A,America/Winnipeg
29,29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8,A,America/Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8077,8077,9512,Port of Seattle,Seattle,United States,None,PSEA,47.609178,-122.350605,0,-8,A,America/Los_Angeles
8078,8078,9513,Ferry Terminal,Whittier,United States,None,WHIT,60.776566,-148.683367,0,-9,A,America/Anchorage
8079,8079,9514,Ferry Terminal,Valdez,United States,None,VLDZ,61.123976,-146.365309,0,-9,A,America/Anchorage
8080,8080,9515,Gare Routiere,Saint-Louis,Reunion,None,STLS,-21.289604,55.407269,103,4,E,Indian/Reunion
8081,8081,9516,Bus Stop,La Riviere,Reunion,None,LRIV,-21.272574,55.437706,190,4,E,Indian/Reunion
8082,8082,9517,Bus Stop,Cilaos,Reunion,None,CILS,-21.135518,55.472087,4000,4,E,Indian/Reunion
8083,8083,9518,Bus Stop,Hell-Bourg,Reunion,None,HLBG,-21.06402,55.518453,3000,4,E,Indian/Reunion
8084,8084,9519,Bus Stop,Salazie,Reunion,None,SLZI,-21.027485,55.538955,3000,4,E,Indian/Reunion
8085,8085,9520,Gare,St Andre,Reunion,None,ANDR,-20.963272,55.652508,100,4,E,Indian/Reunion
8086,8086,9521,L'Ocean Bus Terminal,Saint Denis,Reunion,None,SDNS,-20.877683,55.457393,0,4,E,Indian/Reunion
8087,8087,9522,Gare Routiere,Saint Pierre,Reunion,None,STPR,-21.33424,55.471331,0,4,E,Indian/Reunion
8088,8088,9523,Baie Ste Anne,Praslin,Seychelles,None,PLIN,-4.347119,55.765688,0,4,N,Indian/Mahe
8089,8089,9524,La Passe,La Digue,Seychelles,None,LADG,-4.347969,55.829069,0,4,N,Indian/Mahe
8090,8090,9525,Ferry Dock,Bainbridge Island,United States,None,BAIN,47.622237,-122.509362,0,-8,A,America/Los_Angeles
8091,8091,9526,Bus,Phnom Penh,Cambodia,None,PNMP,11.561716,104.914276,0,7,N,Asia/Phnom_Penh
8092,8092,9527,Bus,Siem Reap,Cambodia,None,SMRP,13.361002,103.859543,0,7,N,Asia/Phnom_Penh
8093,8093,9528,Bus,Sihanoukville,Cambodia,None,SNKV,10.60722,103.524886,0,7,N,Asia/Phnom_Penh
8094,8094,9529,Bus,Kampot,Cambodia,None,KMPT,10.614922,104.177724,0,7,N,Asia/Phnom_Penh
8095,8095,9530,Bus,Kep,Cambodia,None,KEPC,10.480174,104.294228,0,7,N,Asia/Phnom_Penh
8096,8096,9531,Main Station,Taipei,Taiwan,None,TPEI,25.046176,121.517532,0,8,N,Asia/Taipei
8097,8097,9532,Prominent Hill,Prominent Hill,Australia,PXH,YPMH,-29.716667,135.521667,734,9.5,O,Australia/Adelaide
8098,8098,9533,Chatsworth Station,Chatsworth,United States,CWT,NaN,34.256944,-118.598889,978,-8,A,America/Los_Angeles
8099,8099,9534,Algerciras Port,Algerciras,Spain,None,NaN,36.136,-5.435,0,1,E,Europe/Madrid
8100,8100,9535,Ganges Water Aerodrome,Ganges,Canada,YGG,NaN,48.85,-123.5,0,-8,A,America/Vancouver
8101,8101,9536,Pender Harbour Water Aerodrome,Pender Harbour,Canada,YPT,NaN,49.616667,-124.016667,0,-8,A,America/Vancouver
8102,8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,NaN,50.066667,-124.983333,0,-8,A,America/Vancouver
8103,8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,NaN,50.575556,-127.028611,225,-8,A,America/Vancouver
8104,8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,NaN,50.883333,-126.833333,0,-8,A,America/Vancouver
8105,8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,NaN,48.618397,-123.00596,0,-8,A,America/Los_Angeles
8106,8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,NaN,32.7552,-117.1995,0,-8,A,America/Los_Angeles

**GROUP BY, COUNT, ORDER BY**

In [0]:
#SQL select country, timezone, count(*) from airports group by country, timezone order by country, timezone

airports.groupby(['country', 'timezone']).size()

country               timezone
Afghanistan           Asia/Kabul                21
Albania               Europe/Tirane              1
Algeria               Africa/Algiers            44
American Samoa        Pacific/Pago_Pago          3
Angola                Africa/Luanda             25
Anguilla              America/Anguilla           1
Antarctica            Antarctica/South_Pole     18
Antigua and Barbuda   America/Antigua            2
Argentina             America/Cordoba          103
Armenia               Asia/Yerevan               4
Aruba                 America/Aruba              1
Australia             Australia/Adelaide        23
                      Australia/Brisbane        81
                      Australia/Darwin          22
                      Australia/Hobart          22
                      Australia/Melbourne        7
                      Australia/Perth           45
                      Australia/Sydney          52
Austria               Europe/Vienna             29
Azerbaijan            Asia/Baku                  9
Bahamas               America/Nassau            37
Bahrain               Asia/Bahrain               2
Bangladesh            Asia/Dhaka                13
Barbados              America/Barbados           1
Belarus               Europe/Minsk               8
                      Europe/Warsaw              1
Belgium               Europe/Brussels           34
Belize                America/Belize            12
Benin                 Africa/Porto-Novo          1
Bermuda               Atlantic/Bermuda           2
                                              ...
United Arab Emirates  Asia/Dubai                19
United Kingdom        Antarctica/South_Pole      1
                      Atlantic/St_Helena         1
                      Europe/London            191
United States         Africa/Tripoli             1
                      America/Anchorage        258
                      America/Chicago          373
                      America/Denver           135
                      America/Los_Angeles      226
                      America/New_York         626
                      America/Phoenix           42
                      America/Vancouver          2
                      Asia/Calcutta              1
                      Asia/Chongqing             2
                      Asia/Ulaanbaatar           1
                      Europe/London              1
                      Pacific/Honolulu          25
Uruguay               America/Montevideo        12
Uzbekistan            Asia/Samarkand            12
Vanuatu               Pacific/Efate             29
Venezuela             America/Caracas           58
Vietnam               Asia/Saigon               30
Virgin Islands        America/St_Thomas          8
Wake Island           Pacific/Wake               1
Wallis and Futuna     Pacific/Wallis             2
West Bank             Asia/Gaza                  1
Western Sahara        Africa/El_Aaiun            3
Yemen                 Asia/Aden                 11
Zambia                Africa/Lusaka             13
Zimbabwe              Africa/Harare             16
Length: 326, dtype: int64

En Pandas .count() devuelve el número de non-null/NaN values para obtener el mismo resultado que SQL COUNT se debe usar .size().

In [0]:
# SQL select country, timezonte, count(*) from airports group by country, type order by country, count(*) desc

airports.groupby(['country', 'timezone']).size().to_frame('size').reset_index().sort_values(['country', 'size'], ascending=[True, False])

                  country               timezone  size
0             Afghanistan             Asia/Kabul    21
1                 Albania          Europe/Tirane     1
2                 Algeria         Africa/Algiers    44
3          American Samoa      Pacific/Pago_Pago     3
4                  Angola          Africa/Luanda    25
5                Anguilla       America/Anguilla     1
6              Antarctica  Antarctica/South_Pole    18
7     Antigua and Barbuda        America/Antigua     2
8               Argentina        America/Cordoba   103
9                 Armenia           Asia/Yerevan     4
10                  Aruba          America/Aruba     1
12              Australia     Australia/Brisbane    81
17              Australia       Australia/Sydney    52
16              Australia        Australia/Perth    45
11              Australia     Australia/Adelaide    23
13              Australia       Australia/Darwin    22
14              Australia       Australia/Hobart    22
15              Australia    Australia/Melbourne     7
18                Austria          Europe/Vienna    29
19             Azerbaijan              Asia/Baku     9
20                Bahamas         America/Nassau    37
21                Bahrain           Asia/Bahrain     2
22             Bangladesh             Asia/Dhaka    13
23               Barbados       America/Barbados     1
24                Belarus           Europe/Minsk     8
25                Belarus          Europe/Warsaw     1
26                Belgium        Europe/Brussels    34
27                 Belize         America/Belize    12
28                  Benin      Africa/Porto-Novo     1
29                Bermuda       Atlantic/Bermuda     2
..                    ...                    ...   ...
296  United Arab Emirates             Asia/Dubai    19
299        United Kingdom          Europe/London   191
297        United Kingdom  Antarctica/South_Pole     1
298        United Kingdom     Atlantic/St_Helena     1
305         United States       America/New_York   626
302         United States        America/Chicago   373
301         United States      America/Anchorage   258
304         United States    America/Los_Angeles   226
303         United States         America/Denver   135
306         United States        America/Phoenix    42
312         United States       Pacific/Honolulu    25
307         United States      America/Vancouver     2
309         United States         Asia/Chongqing     2
300         United States         Africa/Tripoli     1
308         United States          Asia/Calcutta     1
310         United States       Asia/Ulaanbaatar     1
311         United States          Europe/London     1
313               Uruguay     America/Montevideo    12
314            Uzbekistan         Asia/Samarkand    12
315               Vanuatu          Pacific/Efate    29
316             Venezuela        America/Caracas    58
317               Vietnam            Asia/Saigon    30
318        Virgin Islands      America/St_Thomas     8
319           Wake Island           Pacific/Wake     1
320     Wallis and Futuna         Pacific/Wallis     2
321             West Bank              Asia/Gaza     1
322        Western Sahara        Africa/El_Aaiun     3
323                 Yemen              Asia/Aden    11
324                Zambia          Africa/Lusaka    13
325              Zimbabwe          Africa/Harare    16

[326 rows x 3 columns]

**HAVING**

In [0]:
#SQL select country, count(*) from airports where country = 'United States' group by having count(*) > 5 order by count(*) desc

airports[airports.country == 'United States'].groupby('city').filter(lambda g: len(g) > 5).groupby('city').size().sort_values(ascending=False)

city
New York        13
Seattle          9
Chicago          9
San Diego        8
Philadelphia     6
Houston          6
dtype: int64

In [0]:
vector = [0, 1, -1, -2, 3, -4, 5, 6, 7]
list(filter(lambda x: x > 0, vector))

[1, 3, 5, 6, 7]

**Funciones MIN, MAX, MEDIAN**

In [0]:
#SQL select max(altitude), min(altitude), median(altitude) from airports

airports.agg({'altitude': ['min', 'max', 'median']}).T

          min  max median
altitude  -11  999    272

**JOIN**

In [12]:
#SQL select source, dest from routes join airlines on routes.airline_id = airlines.id where airlines.name = 'Air Europa'

routes.merge(airlines[airlines.name == 'Air Europa'][['id']], left_on='airline_id', right_on='id', how='inner')[['source', 'dest']]

    source dest
0      ACE  BIO
1      ACE  MAD
2      ACE  OVD
3      ACE  SCQ
4      AGP  CDG
5      AGP  IBZ
6      AGP  MAD
7      AGP  PMI
8      AGP  SVO
9      AGP  TFN
10     ALC  TFS
11     AMS  MAD
12     BCN  BJZ
13     BCN  CDG
14     BCN  MAD
15     BCN  OTP
16     BCN  PMI
17     BCN  PRG
18     BCN  SVO
19     BCN  TFN
20     BIO  ACE
21     BIO  CDG
22     BIO  IBZ
23     BIO  LPA
24     BIO  MAD
25     BIO  PMI
26     BIO  TFN
27     BJZ  BCN
28     BJZ  MAD
29     BRU  MAD
..     ...  ...
128    SCQ  IBZ
129    SCQ  LPA
130    SCQ  PMI
131    SCQ  TFS
132    SDQ  MAD
133    SSA  MAD
134    SSA  SCL
135    SVO  AGP
136    SVO  BCN
137    SVO  MAD
138    SVQ  LEI
139    SVQ  LPA
140    SVQ  PMI
141    SVQ  TFN
142    TFN  AGP
143    TFN  BCN
144    TFN  BIO
145    TFN  MAD
146    TFN  SVQ
147    TFS  ALC
148    TFS  OVD
149    TFS  SCQ
150    VGO  CDG
151    VGO  MAD
152    VLC  CDG
153    VLC  MAD
154    VLC  PMI
155    VLL  PMI
156    VVI  MAD
157    ZAZ  PMI

[158 rows x 2 columns]

**CREATE**

In [0]:
from datetime import datetime

daily_flights = pd.DataFrame([[
    1, 
    datetime(2016, 9, 29, 0, 0),
    datetime(2016, 9, 29, 12, 0), 
    'T1', 
    1]],
    columns=["id", "departure", "arrival", "number", "route_id"])

daily_flights.to_sql("daily_flights", conn, if_exists="replace")

In [0]:
pd.read_sql("select * from daily_flights;", conn)

   index  id            departure              arrival number  route_id
0      0   1  2016-09-29 00:00:00  2016-09-29 12:00:00     T1         1

**ALTER**

In [0]:
daily_flights = pd.read_sql("select * from daily_flights", conn)

daily_flights["delay_minutes"] = None

daily_flights.to_sql("daily_flights", conn, if_exists="replace")

In [0]:
pd.read_sql("select * from daily_flights;", conn)

,level_0,index,id,departure,arrival,number,route_id,delay_minutes
0,0,0,1,2016-09-29 00:00:00,2016-09-29 12:00:00,T1,1,None

## Ejercicios

1. Utiliza un conector de SQLAlchemy para cargar la base de datos `flights.db`.
2. Una vez cargados los datos realice las siguientes sentandias SQL con Pandas:
 * ```SELECT * FROM airports WHERE latitude > 20 AND longitude > 20```
 * ```SELECT city FROM airports WHERE country = 'Russia' OR country = 'China'```
 * ```SELECT source COUNT(*) FROM routes GROUP BY source```
 * ```SELECT country, MIN(latitude), MAX(latitude) FROM airports GROUP BY country```
 * ```SELECT airline, airline_id  FROM routes ORDER BY source ASC, dest DESC```